.container {
    width: 1200px;
    height: 150px;
    background-color: #fcb900;
    
    display: grid;
}

.rosa {
    width: 800px;
    height: 550px;
    background-color: #fc00d2;
    display: grid;
    margin-top: 1%;
    display: flex;
    justify-content: space-between;    
    flex-direction: column;
    
}

.tres{
    width: 98%;
    height: 50%;
    /*background-color: #00fc22;*/
    margin-top: 1%;
    margin-left: 1%;
    margin-right:1%;
    display: flex;
    justify-content: space-between;
    
}


.azul {
    width: 30%;
    height: 99%;
    background-color: #1500fc;
   
}


.verde {
    width: 98%;
    height: 50%;
    /*background-color: #00fc22;*/
    margin: 1%;
    
    
}

.verde1{
    width: 95%;
    height: 90%;
    margin-right:90%;
    background-color: #00fc00;
}

.celeste{
    width: 1200px;
    height: 50%;
    /*background-color: rgb(213, 205, 255);*/
    display: flex;
    justify-content: center;
}

.celes1 {
    width: 400px;
    height: 530px;
    background-color: #00a4fc;
    margin-left: 1%;
    margin-top: 2%;
    margin-right: 2%;
      
}